baseURL = 'https://sunxlei.github.io/EMOCDoc/'
languageCode = 'en-us'
title = 'EMOC'
theme = "hugo-book"

[params]
    BookLogo = 'emoc.png'









# code highlight settings
[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'pygments'
    tabWidth = 4
